body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh; 
    background-color: hsl(var(--background)); 
    font-family: __Space_Grotesk_587f35,__Space_Grotesk_Fallback_587f35;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    color: white;
    margin: O auto;
    position: relative;
}

.menu-container {
    position: relative;
}

.nav-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #777;
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 100%; /* Position below the button */
    left: 0;
    background-color: #444;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dropdown-menu button,
.dropdown-menu a {
    background-color: transparent;
    color: white;
    border: none;
    text-align: left;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.dropdown-menu button:hover,
.dropdown-menu a:hover {
    background-color: #555;
    color: #fff;
}
