*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
}
.skills-container {
    max-width: 100px;
    margin: 50px, 10px;
    text-align: center;
    padding: 20px;
    /* border-top: #f4f4f4; */
}
.skills-container h2 {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(25, 183, 189);
    margin: 20px
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.skills-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}
.skills-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2)
}
.skills-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
}
.skill-name {
    font-size: 18px;
    font-weight: bold;
    color: rgb(25, 183, 189);
    text-align: center;
}